@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: rgb(224, 224, 224);
    text-align: center;
}

.fonte{
    color: #000000;
    font-size: 50px;
    font-family: "Roboto Mono", monospace;
}

.fonte2{
    color: #585858;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 200px;
}

.imagens{
    width: 350px;
}
.imagens1{
    width: 500px;
}